

*{

}
body{
    margin: 0 auto;
}
/* tête de page */

header.header{
    display: flex;
    align-items: center;
    background-color: green;
    bottom: 100px;
}

header.header img{
    width: 150px;

}

.top-page{
    position: relative;
    color: white;
    background: black;
    border-bottom: 8px solid #ffd00d;
    
}



.header-navigation{
    bottom: 100px;
align-items: center;
}

.header-navigation-wrapper{
    position: relative;
    margin-top: 500px;
}

.header-navigation2{
    align-items: center;
    }
    
    .header-navigation-wrapper2{
        align-items: center;
    }

u1.primary-menu{
    display: flex;
    font-size: 1.8em;
    font-weight 500;
    letter-spacing: -0.0277em;
}

.primery-menu li{
    font-size: inherit;
    line-height: 1.25;
    position: relative;
}
/* page de bienvenue */

.big-title{
    color: red;
    font-size:

}

.scroll-down{
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 160px;

}


/* menu de navigation */


nav.nav{
    justify-content: center;
    text-align: center;
    width: 120px;
    margin-top: 70px;
    max-width: 100%;
    height: auto;
    display: block;


}

Persos{
    text-align: center;
}

nav.nav li {
    color: blue;

}

.panelPersos{
    background: #000000;
}

.panelCharacters.active{
    display: block;
}

.panelCharacters .listCharactersPage .charactersLinkItem .charactersLink{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* image quand on passe la souris dessus */
}

.panelCharacters .listCharactersPage .charactersLinkItem .charactersLink.two{
    background-position: -160px;
}

.headerSite{
    position: relative;
    color: #ffffff;
    background-color: #000000;
    border-bottom: 8px solid #ffd00d;
}

/* Roster perso.html */



.panelCharacters .listCharactersPage .charactersLinkItem .wordingCharactersLink{
display: none;
}

#site-content{
    overflow: hidden;
}

.wrapperCharacters{
    position: relative;
    background: #000000;
}

.topCharacters{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumario.jpg)
    
}

.titleCharacters{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 48px;
    font-family: 'introRust-Base';
    letter-spacing: 1px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.titleBox{
    text-align: center;
    padding-top: 50px;;

}

.topCharacters-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudonkeykong.jpg)
    
}

.topCharacters-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudonkeykong.jpg)
}

.topCharacters-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulink.jpg)
}

.topCharacters-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusamus.jpg)
}

.topCharacters-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusamussombre.jpg)
}

.topCharacters-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuyoshi.jpg)
}

.topCharacters-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbukirby.jpg)
}

.topCharacters-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbufox.jpg)
}

.topCharacters-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupikachu.jpg)
}

.topCharacters-ten{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuluigi.jpg)
}

.topCharacters-eleven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuness.jpg)
}

.topCharacters-twelve{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbucaptain.jpg)
}

.topCharacters-thirteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburondoudou.jpg)
}

.topCharacters-fourteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupeach.jpg)
}

.topCharacters-fifteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudaisy.png)
}

.topCharacters-sixteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubowser.jpg)
}

.topCharacters-seventeen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuiceclimbers.jpg)
}

.topCharacters-eighteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusheik.jpg)
}

.topCharacters-nineteen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuzelda.jpg)
}

.topCharacters-twenty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudrmario.jpg)
}

.topCharacters-twenty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupichu.jpg)
}

.topCharacters-twenty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbufalco.jpg)
}

.topCharacters-twenty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumarth.jpg)
}

.topCharacters-twenty-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulucina.jpg)
}

.topCharacters-twenty-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulinkenfant.jpg)
}

.topCharacters-twenty-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuganondorf.jpg)
}

.topCharacters-twenty-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumewtwo.jpg)
}

.topCharacters-twenty-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburoy.jpg)
}

.topCharacters-twenty-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuchrom.jpg)
}

.topCharacters-thirty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbugameandwatch.png)
}

.topCharacters-thirty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumetaknight.jpg)
}

.topCharacters-thirty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupit.jpg)
}

.topCharacters-thirty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudarkpit.jpg)
}

.topCharacters-thirty-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuzss.jpg)
}

.topCharacters-thirty-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuwario.jpg)
}

.topCharacters-thirty-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusnake.jpg)
}

.topCharacters-thirty-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuike.jpg);
}

.topCharacters-thirty-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupokemon.jpg)
}

.topCharacters-thirty-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbudiddykong.jpg)
}

.topCharacters-forty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulucas.jpg)
}

.topCharacters-forty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusonic.jpg)
}

.topCharacters-forty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburoidad.png)
}

.topCharacters-forty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuolimar.jpg)
}

.topCharacters-forty-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulucario.jpeg)
}

.topCharacters-forty-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburob.jpg)
}

.topCharacters-forty-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbutoonlink.jpg)
}

.topCharacters-forty-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuwolf.jpg)
}

.topCharacters-forty-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuvillager.jpg)
}

.topCharacters-forty-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumegaman.jpg)
}

.topCharacters-fifty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuwiifit.jpg)
}

.topCharacters-fifty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburosalina.jpg)
}

.topCharacters-fifty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbulittlemac.jpg)
}

.topCharacters-fifty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbugreninja.jpg)
}

.topCharacters-fifty-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupalutena.jpg)
}

.topCharacters-fifty-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupacman.jpg)
}

.topCharacters-fifty-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburobin.jpg)
}

.topCharacters-fifty-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbushulk.jpg)
}

.topCharacters-fifty-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubowserjr.jpg)
}

.topCharacters-fifty-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuduckhunt.jpg)
}

.topCharacters-sixty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburyu.jpg)
}

.topCharacters-sixty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuken.jpg)
}

.topCharacters-sixty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbucloud.jpg)
}

.topCharacters-sixty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbucorrin.jpg)
}

.topCharacters-sixty-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubayonetta.jpg)
}

.topCharacters-sixty-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuinkling.jpg)
}

.topCharacters-sixty-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburidley.jpg)
}

.topCharacters-sixty-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusimon.jpg)
}

.topCharacters-sixty-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssburichter.jpg)
}

.topCharacters-sixty-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuking.jpg)
}

.topCharacters-seventy{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbumarie.jpg)
}

.topCharacters-seventy-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbufelinferno.jpg)
}

.topCharacters-seventy-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupirahna.jpg)
}

.topCharacters-seventy-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbujoker.png)
}

.topCharacters-seventy-four{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuhero.jpg)
}

.topCharacters-seventy-five{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubanjo.jpg)
}

.topCharacters-seventy-six{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuterry.jpg)
}

.topCharacters-seventy-seven{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubyleth.jpg)
}

.topCharacters-seventy-eight{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbuminmin.jpg)
}

.topCharacters-seventy-nine{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusteve.jpg)
}

.topCharacters-eighty{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusephiroth.jpg)
}

.topCharacters-eighty-one{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbupyra.jpg)
}

.topCharacters-eighty-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbukazuya.jpg)
}

.topCharacters-eighty-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 512px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: bottom, center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbusora.jpg)
}

.navigationbarre{
    height: 4px;
    padding: 4px;
    background: #ffc910;
}

.header-navigation-wrapper{
    margin-right: 24px;
    align-self: flex-end;
    display: block;
    width: 100%;
}

.primary-menu-wrapper{
    margin-right: 24px;
    align-self: flex-end;
    display: block;
    width: 100%;
}

.menu-item{
    width: inherit;
    display: flex;
    height: 35px;
    margin: 0;
    position: relative;
    width: 91px;
    height: 50px;
    background size: 13760px 100%;    



}

.menu-item a{    
    position: relative;
    font-size: 50px;
    margin-left: 890px;;
    margin-top: 70px;
    text-decoration: none;
    color: #ffd00d;   
}

.headerLogo{
    position: relative;
    margin-left: 500px;
    margin-top: 10px;
}

.headerInnerSection{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-titles-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
}

.primary-menu{
    flex-wrap: wrap;
    margin-left: 0px;
}

.navigationBottom{
    display: flex;
    padding: 24px 32px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'introRust-Base';
    text-transform: uppercase;
    justify-content: space-between;
    background: #000000;
}

.Characterprevious{
    position: relative;
    color: #ffffff;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
}

.Characterafter{
    position: relative;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    padding-right: 20px;
    text-decoration: none;
}


.backtoTop{
    position: relative;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
}

.wordingTitle{
    font-size: 25px;
}

.bottomCharacters{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 712px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: center, center !important;
    background-image: url(../images/bottommarie.jpg);

}

.bottomMiddle{
    position: absolute;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.baniere{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 912px;
    justify-content: center;
    align-content: flex-start;
    background-repeat: no-repeat; 
    background-position-x: calc(50% - 0px), 100%, center !important;
    background-position-y: center, center !important;
    background-size: 1000px 512px, 910px 512px, 100% !important;
    background-image: url(../images/ssbubaniere.jpg)
}

.Character-1{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;

}
.Character-2{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-3{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-4{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-5{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-6{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-7{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-8{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-9{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-10{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-11{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-12{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-13{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-14{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-15{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-16{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-17{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-18{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-19{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-20{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-21{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-22{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-23{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-24{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-25{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-26{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-27{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-28{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-29{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-30{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-31{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-32{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-33{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-34{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-35{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
}
.Character-36{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-37{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-38{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-39{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-40{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-41{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-42{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-43{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-44{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-45{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-46{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-47{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-48{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-49{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-50{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-51{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-52{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-53{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-54{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-55{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-56{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-57{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-58{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-26{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-59{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-60{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-61{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-62{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-63{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-64{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-65{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-66{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-67{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-68{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-69{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-70{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-71{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-72{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-73{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-74{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-75{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-76{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-77{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-78{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-79{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-80{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-81{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-82{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-83{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-84{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-85{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.Character-86{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
